<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
    <title>Book Requests</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Book Management System</a>
</nav>
<div class="container">
    <h2>Book Requests</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Book Title</th>
            <th>Requester</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${bookRequests}">
            <td th:text="${request.book.title}">Book Title</td>
            <td th:text="${request.requester.username}">Requester</td>
            <td>
                <form th:action="@{/users/acceptRequest(username=${request.requester.username}, bookId=${request.book.bookId})}" method="post">
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
