<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Book List</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Book Management System</a>
</nav>
<div class="container">
    <h2>Book List</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Summary</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author.name}">Author</td>
            <td th:text="${book.category.name}">Category</td>
            <td th:text="${book.summary}">Summary</td>
            <td>
                <a th:href="@{/users/requestBook(bookId=${book.bookId})}" class="btn btn-primary">Request</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
