<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (pageTitle='Book Details')">
    <link rel="stylesheet" type="text/css" th:href="@{/css/demo.css}">

</head>
<body>
<div class="funny">
    <h1>Book Details</h1>
    <div>
        <h2 th:text="${book.title}">Title</h2>
        <p>Author: <span th:text="${book.author.name}">Author Name</span></p>
        <p>Category: <span th:text="${book.category.name}">Category Name</span></p>
        <p>Summary: <span th:text="${book.summary}">Book summary goes here...</span></p>
    </div>
    <div>
        <a href="#" th:href="@{/users/mainMenu}">Back to Main Menu</a>
    </div>
</div>
</body>
</html>
